<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload jpg Files</title>
</head>
<body>
    <h1>file upload</h1>
    <form method="post" th:action="@{/resize}" enctype="multipart/form-data" id="file-form" th:object="${uploadDto}">
        <input multiple id="file-input" type="file" name="files" accept=".jpg">
        <button type="button" onclick="resize()">submit</button>
        <small th:if="${#fields.hasErrors('files')}" th:errors="*{files}">File Error</small>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let message = [[${message}]];

        if(message){
            alert(message);
        }
        /*]]>*/
    </script>
    <script th:src="@{/js/upload.js}"></script>
</body>
</html>